<div class="app-content">
  <app-header (toogleSidebar)="sidebar.toggle()" [isPhoneScreen]="isPhoneScreen" *ngIf="showHeaderAndSideMenu"></app-header>
  <mat-drawer-container class="main-container" [hasBackdrop]="isPhoneScreen">
    <mat-drawer class="sidebar" [ngClass]=" showHeaderAndSideMenu ? 'belowHeader' : ''" #sidebar [mode]="isPhoneScreen? 'over' :'side'" [opened]="showHeaderAndSideMenu && !isPhoneScreen">
      <app-sidebar (clicked)= "isPhoneScreen? sidebar.toggle() : ''"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="content" [ngClass]=" showHeaderAndSideMenu ? 'belowHeader' : ''">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  
</div>
