$bg-color: #333;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $bg-color; color: white;}


.fw-btn, .fw-input{
    width: 100%;
}
